@import "../../styles/variables";

.card-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
  padding: $header-padding;

  .text-info {
    line-height: 1em;
    font-size: 0.8em;
    color: $unselected;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: $header-padding;
    align-items: baseline;
  }

  .img-layout {
    border: 1px solid $border-dim;
    height: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &:hover {
    border: 1px solid $border-light;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  &:hover &__menu {
    opacity: 1;
  }

  &__menu {
    @extend .center;
    border-top: 1px solid $border-light;
    margin-top: $header-padding;
    padding-top: $box-padding;
    opacity: 0;

    a {
      color: $blue;
      font-weight: 500;
    }

    @media (max-width: $medium) {
      display: none;
    }
  }

  .rating {
    @extend .center-with-space;
    padding: 5px;
    background-color: rgb(84, 193, 84);
    color: white;
    height: 1.7em;
    border-radius: 5px;
    font-size: small;
  }

  .no-rating {
    @extend .center-with-space;
    background-color: transparent;
  }

}

.count-card {
  @extend .center;
  border: 1px solid $border-light;
  line-height: 2em;
  padding: $header-padding;
  cursor: pointer;

  .text-info {
    line-height: 2em;
    font-size: 1.5em;
    color: $orange;
  }
}

.badge {
  &::before {
    content: 'Exclusive';
    position: relative;
    background: linear-gradient(to bottom, $dark-red 0%, $red 100%);
    color: white;
    border-radius: 5px;
    display: block;
    padding: $box-padding;
    width: fit-content;
    font-weight: 500;
    height: 1em;
    top: 0.5em;
    left: 1.4em;
  }

  .card-layout {
    margin-top: -2.5em;
  }
}